@model ProcessFormModel
@{
    @using System.Data;
    ViewData["Title"] = "ProcessForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataSet panchayats = ViewBag.panchayats, wards = ViewBag.wards, tehsils = ViewBag.tehsils;
    DataSet rlnTypes = ViewBag.rlnTypes, villages = ViewBag.villages, addressTehsils = ViewBag.addressTehsils;
    string logUserType = Context.Session.GetString("logUserType");
    string selectedPanchayat = ViewBag.selectedPanchayat;
    DataSet selectedWard = ViewBag.selectedWard,formHistory=ViewBag.formHistory;

}
<script>
    function EditPS() { 
        t = document.getElementById('btnEditPS');
        if (t.value == "Edit Polling Station") { 
            //document.getElementById('ddwnTehsil').disabled = false;
            document.getElementById('ddwnPanchayat').disabled = false;
            document.getElementById('ddwnPanchayat').remove(0);
            document.getElementById('ddwnWard').disabled = false;
            document.getElementById('ddwnWard').focus();
            document.getElementById('hidPostCause').value = "editPS";
            t.value = "Cancel";
            document.getElementById('divMain').style.display = "none";
        }
        else
        {
            document.getElementById('hidPostCause').value = null;
            document.getElementById('frmProcessForm').submit();
        }
   }
    function SubmitForm(item) 
    { 
        //document.getElementById('hidPostCause').value = item;
        document.getElementById('frmProcessForm').submit();
    }
    function ShowMain()
    {
        if (document.getElementById('ddwnWard').value == "") 
        { 
            document.getElementById('divMain').style.display = "none";
            document.getElementById('btnSend').innerHTML = 'Update and Send for Field Verification';
        }
        else
        {
            document.getElementById('divMain').style.display = "flex";
            document.getElementById('btnSend').innerHTML = 'Update and Send for Field Verification';
        }
    }
    function ReverifyClick() 
    { 
        var chk = document.getElementById("chkReverify");
        if (chk.checked == true) {
            document.getElementById("btnAccept").style.display = "none";
            document.getElementById("btnReverify").style.display = "block";
            document.getElementById("btnReject").disabled = true;
        }
        else 
        { 
            document.getElementById("btnAccept").style.display = "block";
            document.getElementById("btnReverify").style.display = "none";
            document.getElementById("btnReject").disabled = false;
        }
    }
</script>

<form id="frmProcessForm" method="post">
    <input type="hidden" id="hidPostCause" asp-for="postCause" />
    <input type="hidden" id="hidPanMun" asp-for="panMun" />
    <input type="hidden" id="hidformid" asp-for="formid" />
    <input type="hidden" id="hidformType" asp-for="formType" />
    <input type="hidden" asp-for="revisionNo" value="@ViewBag.revisionNo" />
    <input type="hidden" asp-for="revisionYear" value="@ViewBag.revisionYear" />
   
    <div class="container">
        <div class="modal fade" id="AgeProof" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Age Proof</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @{
                            var base64 = Convert.ToBase64String(Model.ageProof);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        }
                        <img id="imgAgeProof" src="@imgSrc" style="width:750px;height:900px;"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AddressProof" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Address Proof</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @{
                            var base64Add = Convert.ToBase64String(Model.addressProof);
                            var imgSrcAdd = String.Format("data:image/gif;base64,{0}", base64Add);
                        }
                        <img id="imgAddProof" src="@imgSrcAdd" style="width:750px;height:900px;border:solid" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ConfirmAccept" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Form Acceptance</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are You Sure to Accept the Form?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary"  asp-action="AcceptReject" asp-route-id=1>Yes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ConfirmReject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm Form Rejection</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are You Sure to Reject the Form?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" asp-action="AcceptReject" asp-route-id=2>Yes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ConfirmRevert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Revert Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are You Sure to Revert the Form to Field Verified Stage?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" asp-action="RevertForm">Yes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="pageheading">Form Processing </h2>
        <hr />
        <label class="form-label mylabel">Current Form Status:</label><span style="font-size:larger;color:red;font-weight:bold;"> @ViewBag.FormStatus</span>
        @{
            if (Model.formType=="A")
            {
                <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;">
                    <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                        Polling Station
                    </div>
                </div>
                <div class="row" style="margin-left:0px;">
                    <div class="col-sm-4">
                        <label class="form-label mylabel " for="ddwnTehsil">Tehsil</label>
                        @{
                            List<SelectListItem>
                            items = new List<SelectListItem>();
                            SelectListItem listItem = new SelectListItem();
                            listItem.Text = "<----Select---->";
                            listItem.Value = "";
                            items.Add(listItem);
                            foreach (DataRow row in tehsils.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["TNAME"].ToString();
                                s.Value = row["TCODE"].ToString();
                                items.Add(s);
                            }
                            <select asp-for="tehsil" id="ddwnTehsil" name="tehsil" class="form-select mycontrol" asp-items="@items" onchange="document.getElementById('btnSend').innerHTML='Update and Send for Field Verification';SubmitForm('tehsil');" disabled></select>
                        }
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel " for="ddwnPanchayat">Panchayat</label>
                        @{
                            items.Clear();
                            listItem.Text = "<----Select---->";
                            listItem.Value = "";
                            items.Add(listItem);
                            foreach (DataRow row in panchayats.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["PAN_NAME"].ToString();
                                s.Value = row["PCODE"].ToString();
                                items.Add(s);
                            }
                            if (Model.postCause == "editPS")
                            {
                                <select asp-for="panchayat" id="ddwnPanchayat" name="panchayat" class="form-select mycontrol" asp-items="@items" onchange="SubmitForm('panchayat');"></select>
                            }
                            else
                            {
                                <select asp-for="panchayat" id="ddwnPanchayat" name="panchayat" class="form-select mycontrol" asp-items="@items" onchange="document.getElementById('btnSend').innerHTML='Update and Send for Field Verification';SubmitForm('panchayat');" disabled></select>
                            }
                        }
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel" for="ddwnWard">Ward</label>
                        @{
                            items.Clear();
                            listItem.Text = "<----Select---->";
                            listItem.Value = "";
                            items.Add(listItem);
                            foreach (DataRow row in wards.Tables[0].Rows)
                            {
                                SelectListItem s = new SelectListItem();
                                s.Text = row["WARD_NAME"].ToString();
                                s.Value = row["CONST_NO"].ToString();
                                // s.Selected = row["PCODE"].ToString() == selectedPanchayat ? true : false;
                                items.Add(s);
                            }
                            if (Model.postCause == "editPS")
                            {
                                <select asp-for="ward" id="ddwnWard" name="ward" class="form-select mycontrol" asp-items="@items" onchange="ShowMain();"></select>
                            }
                            else
                            {
                                <select asp-for="ward" id="ddwnWard" name="ward" class="form-select mycontrol" asp-items="@items" onchange="ShowMain();" disabled></select>
                            }
                            <input type="button" id="btnEditPS" type="button" class="btn btn-link link-success" onclick="EditPS();" value="Edit Polling Station"></input>
                        }
                    </div>
                </div>
            }
        }
        
       
        <div class="row" id="divMain" style="margin-left:0px;">
            @{
                if (Model.formType == "A")
                {
                    <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;">
                        <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                            Personal Details
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="form-label mylabel " for="txtName">Name</label>
                                    <input type="text" id="txtName" asp-for="ename" name="ename" class="form-control" disabled />
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label mylabel " for="ddwnRlnType">Relation Type</label>
                                    <input type="text" id="txtrlnType" asp-for="rlnType" name="rlnType" class="form-control" disabled />
                                </div>
                                <div class="col-sm-5">
                                    <label class="form-label mylabel" for="txtRlnName">Relative Name</label>
                                    <input type="text" id="txtRlnName" asp-for="rlnName" name="rlnName" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="row" style="margin-left:0px;margin-top:10px;">
                                <div class="col-sm-3">
                                    <label class="form-label mylabel " for="radDob">Age/Date of Birth</label>
                                    <input type="text" id="txtDob" asp-for="dob" name="rlnName" class="form-control" disabled />
                                </div>
                                <div class="col-sm-2">
                                    <label class="form-label mylabel " for="selGender">Gender</label>
                                    <input type="text" id="txtGender" asp-for="gender" name="gender" class="form-control" disabled/>
                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#AgeProof" style="margin-top:9px;">See Age Proof</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            @{
                                var base64Photo = Convert.ToBase64String(Model.photo);
                                var imgSrcPhoto = String.Format("data:image/gif;base64,{0}", base64Photo);
                            }
                            <img src="@imgSrcPhoto" style="width:110px;height:130px;margin-top:10px;"/>
                        </div>
                    </div>
                    <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;margin-top:10px;">
                        <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                            Address & Contact Details
                        </div>
                    </div>
                    <div class="row" style="margin-left:0px;">
                        <div class="col-sm-2">
                            <label class="form-label mylabel " for="txtHouseNo">House No.</label>
                            <input type="text" id="txtHouseNo"  asp-for="houseNo" name="houseNo" class="form-control" disabled/>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label mylabel " for="txtAddLine1">Address Line1</label>
                            <input type="text" id="txtAddLine1" asp-for="addLine1" name="addLine1" class="form-control" disabled/>
                        </div>
                        <div class="col-sm-5">
                            <label class="form-label mylabel" for="txtAddLine2">Address Line2</label>
                            <input type="text" id="txtAddLine2"  asp-for="addLine2" name="addLine2" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="row" style="margin-left:0px;">
                        <div class="col-sm-4">
                            <label class="form-label mylabel " for="ddwnAddressTehsil">Tehsil</label>
                            <input type="text" id="txttehsil" asp-for="addressTehsil" name="addressTehsil" class="form-control" disabled />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label mylabel " for="ddwnVillage">Village</label>
                            <input type="text" id="txtvillage" asp-for="village" name="village" class="form-control" disabled />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label mylabel" for="txtPost">Post Office</label>
                            <input type="text" id="txtPost" asp-for="post" name="post" class="form-control" disabled />
                        </div>
                        <div class="col-sm-3">
                            <label class="form-label mylabel " for="txtMobile">Mobile No.</label>
                            <input type="tel" id="txtMobile"  asp-for="mobileNo" name="mobileNo" class="form-control" disabled  />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label mylabel " for="txtEmail">Email ID</label>
                            <input type="email" id="txtEmail" asp-for="email" name="email" class="form-control" disabled />
                        </div>
                        <div class="col-sm-3">
                            <br />
                            <button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#AddressProof" style="margin-top:9px;">See Address Proof</button>
                        </div>
                    </div>
                }
                else if (Model.formType == "D")
                {

                    <div class="row formrow" style="margin-top:10px;">
                        <div>
                            Applicant Details
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label for="txtApplicantID" class="form-label mylabel">Applicant ID</label>
                        <input type="text" class="form-control mycontrol" asp-for="applEpic" readonly />
                    </div>
                    <div class="col-sm-5">
                        <label for="txtApplicantName" class="form-label mylabel">Applicant Name</label>
                        <input type="text" class="form-control mycontrol" asp-for="applEname" readonly />
                    </div>
                    <div class="col-sm-5">
                        <label for="txtApplicantRlnName" class="form-label mylabel">Relative Name</label>
                        <input type="text" class="form-control mycontrol" asp-for="applRlnName" readonly />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel">Panchayat</label>
                        <input type="text" class="form-control mycontrol" asp-for="applPanchayat" readonly />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel">Ward</label>
                        <input type="text" class="form-control mycontrol" asp-for="applWard" readonly />
                    </div>
                    
                    
                    <div class="row formrow" style="margin-top:10px;">
                        <div>
                            Address & Contact Details
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <label class="form-label mylabel " for="txtHouseNo">House No.</label>
                        <input type="text" id="txtHouseNo" asp-for="houseNo" name="houseNo" class="form-control" readonly />
                    </div>
                    <div class="col-sm-5">
                        <label class="form-label mylabel " for="txtAddLine1">Address Line1</label>
                        <input type="text" id="txtAddLine1" asp-for="addLine1" name="addLine1" class="form-control" readonly />
                    </div>
                    <div class="col-sm-5">
                        <label class="form-label mylabel" for="txtAddLine2">Address Line2</label>
                        <input type="text" id="txtAddLine2" asp-for="addLine2" name="addLine2" class="form-control" readonly />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel " for="ddwnAddressTehsil">Tehsil</label>
                        <input asp-for="addressTehsil" id="ddwnAddressTehsil" name="addressTehsil" class="form-control mycontrol" readonly></input>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel " for="ddwnAddressTehsil">Village</label>
                        <input class="form-control mycontrol" asp-for="village" id="ddwnAddressVillage" name="village" readonly></input>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel" for="txtPost">Post Office</label>
                        <input type="text" id="txtPost" asp-for="post" name="post" class="form-control" readonly />
                    </div>
                    <div class="col-sm-3">
                        <label class="form-label mylabel " for="txtMobile">Mobile No.</label>
                        <input type="tel" id="txtMobile" asp-for="mobileNo" name="mobileNo" class="form-control" readonly />
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label mylabel " for="txtEmail">Email ID</label>
                        <input type="email" id="txtEmail"  asp-for="email" name="email" class="form-control" readonly/>
                           
                    </div>
                    <div class="row formrow" style="margin-top:10px;">
                        <div>
                            Details of Elector proposed to be Deleted
                        </div>
                    </div>
                    <div class="row " style="padding-bottom:10px;">
                        <div class="col-sm-2">
                            <label for="txtApplicantID" class="form-label mylabel">Epic No.</label>
                            <input type="text" class="form-control mycontrol" asp-for="epic" readonly />
                        </div>
                        <div class="col-sm-5">
                            <label for="txtApplicantName" class="form-label mylabel">Elector Name</label>
                            <input type="text" class="form-control mycontrol" asp-for="ename" readonly />
                        </div>
                        <div class="col-sm-5">
                            <label for="txtApplicantRlnName" class="form-label mylabel">Relative Name</label>
                            <input type="text" class="form-control mycontrol" asp-for="rlnName" readonly />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label mylabel">Panchayat</label>
                            <input type="text" class="form-control mycontrol" asp-for="delPanchayat" readonly />
                        </div>
                        <div class="col-sm-4">
                            <label class="form-label mylabel">Ward</label>
                            <input type="text" class="form-control mycontrol" asp-for="delWard" readonly />
                        </div>
                    </div>
                    <div class="row formrow">
                        <div>
                            Other Details
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-4">
                            <label for="ddwnReason" class="form-label mylabel">Reason for Deletion</label>
                           
                            <input class="form-control mycontrol" asp-for="reason" name="reason" readonly />
                        </div>
                        <div class="col-sm-5">
                            <label for="txtRemarks" class="form-label mylabel mycontrol">Remarks</label>
                            <textarea id="txtRemarks" class="form-control mycontrol" asp-for="delRemarks" maxlength="100" readonly></textarea>
                        </div>
                    </div>
                }
                int rowCount = formHistory.Tables[0].Rows.Count;
                
                
                //if (rowCount>0)
                //{
                    for (int i = 1; i < rowCount; i++)
                    {
                        DataRow row = formHistory.Tables[0].Rows[i];
                        if (row["USER_TYPE"].ToString() == "FVO")
                        {
                            <div class="row formrow" style="padding-left:10px;padding-right:10px;">
                                <div class="col-sm-12 " style="text-align:center; ">
                                    Field Verification Report
                                </div>
                            </div>
                            <div class="row" style="margin-left:0px;">
                                <div class="col-sm-5">
                                    @{
                                        if ((bool)row["ELECTOR_FOUND"]==true)
                                        {
                                            <input type="checkbox"  checked disabled />
                                        }
                                        else
                                        {
                                            <input type="checkbox"  disabled />
                                        }
                                    }
                                    <label class="form-label mylabel" for="chkElector">Elector was found to be residing in the given address</label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mylabel" for="taRemarks">Field Verification Report</label>
                                    <textarea class="form-control mycontrol" readonly>@row["REMARKS"]</textarea>
                                </div>
                            </div>
                        }
                        else if (row["USER_TYPE"].ToString() == "AERO")
                        {
                            <div class="row formrow" style="padding-left:10px;padding-right:10px;">
                                <div class="col-sm-12" style="text-align:center;">
                                    AERO's REPORT
                                </div>
                            </div>
                            <div class="row" style="margin-left:0px;">
                                <div class="col-sm-6">
                                    <label class="form-label mylabel" for="taRemarks">AERO's Report</label>
                                    <textarea  class="form-control mycontrol" readonly>@row["REMARKS"]</textarea>
                                </div>
                            </div>
                        }
                        else if (row["USER_TYPE"].ToString() == "ERO")
                        {
                            <div class="row formrow" style="padding-left:10px;padding-right:10px;">
                                <div class="col-sm-12" style="text-align:center;">
                                    ERO's REPORT
                                </div>
                            </div>
                            <div class="row" style="margin-left:0px;">
                                <div class="col-sm-6">
                                    <label class="form-label mylabel" for="taRemarks">ERO's Report</label>
                                    <textarea class="form-control mycontrol" readonly>@row["REMARKS"]</textarea>
                                </div>
                            </div>
                        }
                    }
                    if (Context.Session.GetString("logUserType") == "FVO")
                    {
                        <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;margin-top:10px;">
                            <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                                Field Verification Report
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <input type="checkbox" id="chkElector" name="electorFound" asp-for="electorFound" />
                            <label class="form-label mylabel" for="chkElector">Elector was found to be residing in the given address</label>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label mylabel" for="taRemarks">Field Verification Report</label>
                            <textarea id="taRemarks" name="remarks" asp-for="remarks" class="form-control mycontrol" required></textarea>
                        </div>
                        <p></p>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-3">
                                <button id="btnForward" class="btn btn-primary form-control" style="height:60px;" asp-action="ForwardForm">Forward Form</button>
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                    }
                    else if (Context.Session.GetString("logUserType") == "AERO")
                    {
                        if (rowCount == 0)
                        {
                            <div class="row">
                                <p></p>
                                <hr />
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <button id="btnSend" class="btn btn-primary form-control" style="height:60px;" asp-action="SendForVerification">Send for Field Verification</button>
                                </div>
                                <div class="col-sm-3">
                                    <button id="btnReject" class="btn btn-danger form-control" style="height:60px;">Reject</button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        }
                        else
                        {
                            <div class="row">
                                <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;margin-top:10px;">
                                    <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                                        AERO's REPORT
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mylabel" for="taRemarks"> AERO's Report</label>
                                    <textarea id="taRemarks" name="remarks" asp-for="remarks" class="form-control mycontrol" required></textarea>
                                </div>
                                <p></p>
                                <hr />
                                <div class="col-sm-3"></div>

                                <div class="col-sm-3">
                                    <button id="btnForward" class="btn btn-danger form-control" style="height:60px;" asp-action="ForwardForm">Forward to ERO</button>
                                </div>
                                <div class="col-sm-3">
                                    <button id="btnSend" class="btn btn-primary form-control" style="height:60px;" asp-action="SendForVerification">Send for Re-Verification</button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                        }
                    }
                    else if (Context.Session.GetString("logUserType") == "ERO")
                    {
                        if (ViewBag.FormStatus == "ACCEPTED" || ViewBag.FormStatus == "REJECTED")
                        {
                            <div class="row">
                                <p></p>
                                <hr />
                                <div class="col-sm-4"></div>
                                <div class="col-sm-3">
                                    <button type="button" id="btnRevert" class="btn btn-danger form-control" data-bs-toggle="modal" data-bs-target="#ConfirmRevert" style="height:50px;">Revert</button>
                                </div>
                                <div class="col-sm-2"></div>
                            </div>
                        }
                        else if (ViewBag.FormStatus == "UPDATED IN ROLL")
                        {
                            
                        }
                        else
                        {
                            <div class="row">
                                <div class="row" style="padding-left:10px;padding-right:10px;border-top-left-radius:10px;border-top-right-radius:10px;margin-top:10px;">
                                    <div class="col-sm-12" style="text-align:center; background-color:darkcyan; color:white;font-size:large;border-top-left-radius:10px;border-top-right-radius:10px;">
                                        ERO's REPORT
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label mylabel" for="taRemarks"> ERO's Report</label>
                                    <textarea id="taRemarks" name="remarks" asp-for="remarks" class="form-control mycontrol" required></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <br />
                                    <input type="checkbox" id="chkReverify" onchange="ReverifyClick();" />
                                    <label class="form-label mylabel" for="chkReverify">Re-Verification Required</label>
                                </div>
                                <p></p>
                                <hr />
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <button type="button" id="btnAccept" class="btn btn-success form-control" data-bs-toggle="modal" data-bs-target="#ConfirmAccept" style="height:50px;">Accept</button>
                                    <button id="btnReverify" class="btn btn-primary form-control" style="height:50px;display:none" asp-action="SendForVerification">Send for Re-Verification</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" id="btnReject" class="btn btn-danger form-control" data-bs-toggle="modal" data-bs-target="#ConfirmReject" style="height:50px;">Reject</button>
                                </div>

                                <div class="col-sm-2"></div>
                            </div>
                        }
                        
                    }
                }
            
        </div>
    </div>
    <script>
        var t = document.getElementById('ddwnPanchayat');
        
        if (t.disabled == false) 
        {
            document.getElementById('divMain').style.display = "none";
        }
    </script>
</form>