@model GrantRevokeModel;
@using System.Data;
@{
    ViewData["Title"] = "GrantRevoke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="frmGrantRevoke" name="frmGrantRevoke" method="post">
    <h3 class="pageheading">Grant/Revoke Application Features</h3>
    <script>
        function setHiddenValue(item) {

            hidid = 'hid' + item;
            chkid = 'chk' + item;

            if (document.getElementById(chkid).checked == true) {
                document.getElementById(hidid).value = "1";
            }
            else {
                document.getElementById(hidid).value = "0";
            }
        }
    </script>

    @{
        if (ViewBag.grantsupdated == "Y")
        {
            <script>
                alert("Data Updated Successfully");
            </script>
        }
        DataSet userTypeList = ViewBag.userTypeList;
        DataSet featureList = ViewBag.featureList;
        DataSet moduleList = ViewBag.moduleList;
        string post = Context.Request.Method;
    }
    <div class="container">

        <div class="row" style="margin-top:20px;">
            <div class="col-sm-2">
                <label for="ddwnUserType" class="form-control" style="text-align:right; border:none;">User Type</label>
            </div>
            <div class="col-sm-4">
                @{
                    List<SelectListItem> items = new List<SelectListItem>();
                    foreach (DataRow row in userTypeList.Tables[0].Rows)
                    {
                        SelectListItem s = new SelectListItem();
                        s.Text = row[1].ToString();
                        s.Value = row[0].ToString();
                        items.Add(s);
                    }
                }
                <select id="ddwnUserType"  class="form-select" asp-items="@items" asp-for="userType" onchange="document.getElementById('frmGrantRevoke').submit();"></select>
            </div>

            <div class="col-sm-3">
                <input type="submit" value="Update" asp-action="UpdateFeaturesGrant" class="btn btn-success form-control" />
            </div>


        </div>
        <div class="row" style="margin-top:10px;">
            @{
                //style="margin:5px; background-color:skyblue;
                foreach (DataRow row in moduleList.Tables[0].Rows)
                {
                    <div class="col-sm-5" style="margin-left:10px;margin-top:10px;padding:10px;">
                        <div class="row" style="padding:10px;">
                            <div class="row" style="background-color:darkcyan;"><h6 class="pageheading" style="color:white;">@row[1]</h6></div>
                        </div>
                        <ul class="list-group">
                            @{
                                foreach (DataRow fr in featureList.Tables[0].Rows)
                                {
                                    if (fr["MODULE_ID"].ToString() == row["MODULE_ID"].ToString())
                                    {
                                        string chkID = "chk" + fr["FUNCTION_ID"].ToString();
                                        string hidID = "hid" + fr["FUNCTION_ID"].ToString();
                                        <li style="list-style-type:none;">
                                            <table>
                                                <tr>
                                                    @{

                                                        if (fr[3].ToString() == "1")
                                                        {
                                                            <td style="text-align:left;"><input type="hidden" id="@hidID" name="@hidID" value="@fr[3]" /><input id="@chkID" name="@chkID" type="checkbox" onchange="setHiddenValue('@fr["FUNCTION_ID"]');" checked /></td>
                                                        }
                                                        else
                                                        {
                                                            <td style="text-align:left;"><input type="hidden" id="@hidID" name="@hidID" value="@fr[3]" /><input id="@chkID" name="@chkID" type="checkbox" onchange="setHiddenValue('@fr["FUNCTION_ID"]');" /></td>
                                                        }
                                                    }

                                                    <td style="text-align:left;"><label for="@chkID">@fr["FUNCTION_NAME"]</label></td>
                                                </tr>
                                            </table>

                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</form>


